.l {
    &-hero {
        position: relative;

        a {
            @include hover {
                color: inherit;
                text-decoration: none;

                & .l-hero__item__bkg {
                    filter: blur(0);
                }

            }
        }

        &__sum {
            position: absolute;
            width: 8%;
            right: 4%;
            top: 10%;

            @include rwd($sm) {
                width: 14%;
                right: 1.5rem;
                top: 1.5rem;
            }
        }

        &__sumgroup {
            width: 12rem;
            margin: 0 auto 3rem;
        }

        &__img {
            width: 100%;
            height: 500px;
            margin-bottom: -4rem;
            @include bg-cover;

            @include rwd($md) {
                height: 277px;
                margin-bottom: 0;
            }
        }

        &__item {
            position: relative;
            max-width: 260px;
            flex: 0 0 33.333333%;
            height: 256px;
            writing-mode: vertical-rl;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 0.7px solid $white;
            overflow: hidden;

            &:last-child {
                border-right: none;
            }

            &__bkg {
                position: absolute;
                width: 100%;
                height: 100%;
                filter: blur(5px);

                @include bg-cover;
                @include transition;
            }

            &__mask {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background-color: rgba($primary-darken, 0.8);
                ;

                &--active {
                    background-color: rgba($secondary, 0.8);
                }

            }


            &__text {
                font-size: 1.5rem;
                font-weight: 300;
                color: $white;
                letter-spacing: 0.3rem;
                z-index: 2;

                &--active {
                    color: $primary-darken;
                }
            }
        }
    }

}