.l {
    &-navbar {
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;

        color: $primary-darken;

        >.container,
        >.container-fluid {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        @include rwd($md) {
            height: 5rem;
        }


        &__toggler {
            padding: 30px;
            @include transition;

            @include hover-focus-active {
                background-color: $primary-darken;
                color: $white !important;
            }
        }


        &__brand {
            display: block;
            background: url(../img/logo-all-dark.svg) no-repeat 50%;
            width: 13.6rem;
            height: 7rem;

            @include rwd($md) {
                background: url(../img/logotype-lg-dark.svg) no-repeat 50%;
                width: 8.6rem;
                height: 5rem;
            }

            a {
                background-size: cover;
                width: 13.6rem;
                height: 7rem;
                display: block;

                @include rwd($md) {
                    width: 9rem;
                    height: 5rem;
                }
            }
        }

        &__menu {
            display: flex;
            padding-left: 0;
            margin: 0;
            list-style: none;

            &__items {
                padding: 0 30px;
                color: $primary;

                a {
                    color: inherit;
                    @include transition;

                    @include hover-focus-active {
                        color: $primary-darken;
                        text-decoration: none;
                    }
                }

                &--active {
                    a {
                        color: $primary-darken;
                    }
                }

            }
        }

        &__cart {
            color: $primary-darken;
            padding: 0 30px;
            @include transition;

            @include hover-focus-active {
                color: $primary;
            }
        }

    }
}