/* card */
.m {
    &-card {
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        position: relative;

        margin: 0 10px 20px;
        width: 315px;
        border: 1px solid $primary-lighten !important;
        border-radius: 0 !important;

        &__img {
            position: relative;
            height: 315px;
            max-width: 100%;
            @include bg-cover;

            &__tag {
                position: absolute;
                top: 0;
                left: 1rem;
                color: $primary-lighten;
                background-color: $primary-darken;
                padding: 10px;
                writing-mode: vertical-lr;
                letter-spacing: 0.2rem;

            }

            &__like {
                position: absolute;
                top: 1rem;
                right: 1rem;
                color: $primary-darken;
                cursor: pointer;
            }
        }

        &__info {
            color: $primary-darken;
            font-size: 20px;

            &__title {
                padding: 1rem;
                font-weight: lighter;
                border-right: 1px solid $primary-lighten;
            }

            &__price {
                padding: 1rem;
            }
        }

        &__submit {
            padding: 16px 0;
            background-color: $primary-lighten;
            color: $primary-darken;
            font-size: 24px;
            font-weight: bolder;

            @include transition;

            @include hover-focus {
                color: $primary-lighten;
                text-decoration: none;
                background-color: $primary-darken;

            }

        }
    }

}