.p {
    &-login {
        position: relative;
        width: 390px;
        background-color: $primary-darken;

        &__group {
            padding: 0 1.5rem;
        }

        &__title {
            padding-top: 1.5rem;
            font-size: 2rem;
            color: $primary-lighten;
        }

        &__submit {
            width: 100%;
            font-size: 1.5rem;
            height: auto;
            padding: 1rem;
        }

        &__check {
            color: $primary-lighten;
            font-weight: 300;
        }

    }

    &-social {
        position: relative;
        width: 390px;
        margin: 1rem 0;
        background-color: $primary-lighten;
    }
}