.p {
    &-login {
        position: relative;
        width: 390px;
        background-color: $primary-darken;

        &__group {
            padding: 0 1.5rem;
        }

        &__title {
            padding-top: 1.5rem;
            font-size: 2rem;
            color: $primary-lighten;
        }

        &__submit {
            width: 100%;
            font-size: 1.5rem;
            height: auto;
            padding: 1rem;
        }

        &__check {
            color: $primary-lighten;
            font-weight: 300;

            input[type="checkbox"] {
                display: none;

                +label {
                    display: inline;
                    position: relative;

                    &::before {
                        display: inline-block;
                        width: 1rem;
                        height: 1rem;
                        content: ' ';
                        background-color: $primary-lighten;
                        vertical-align: middle;
                        margin-right: 0.5rem;
                        cursor: pointer;
                        position: relative;
                        top: -2px;
                        z-index: 10;
                    }
                }

                &:checked+label {
                    &::before {
                        background-color: $secondary;
                    }

                    // Checkmark
                    &::after {
                        width: 6px;
                        height: 13px;
                        border: 3px solid $primary-darken;
                        border-left: none;
                        border-top: none;
                        content: ' ';
                        position: absolute;
                        left: 6px;
                        bottom: 4px;
                        transform: rotatez(45deg);
                        cursor: pointer;
                        z-index: 20;
                    }
                }

            }
        }
    }

    &-social {
        position: relative;
        width: 390px;
        margin: 1rem 0;
        background-color: $primary-lighten;
    }

}